dnsimple_token = "your_token"

dnsimple_account = "your_account_id"

# Recommended to develop against sandbox but not required.
dnsimple_sandbox = true

################################################################################
# Comment below to test with Consul-Terraform-Sync and Consul
################################################################################

services = {
  "api" : {
    address = "172.17.0.1"
    id      = "api"
    name    = "api"
    kind    = ""
    port    = 80
    meta = {
      dnsimple_default_zone        = "vegan.pizza"
      dnsimple_default_record_type = "A"
      dnsimple_default_record_ttl  = 1800
      dnsimple_record_name         = "$name"
      dnsimple_record_content      = "$address"
      "dnsimple_record_name[1]"    = "$name.internal"
      "dnsimple_record_content[1]" = "$node_address"
    }
    tags            = []
    namespace       = null
    status          = "passing"
    node_id         = "node_a"
    node            = "foobar"
    node_address    = "192.168.10.10"
    node_datacenter = "dc1"
    node_tagged_addresses = {
      lan = "192.168.10.10"
      wan = "10.0.10.10"
    }
    node_meta = {}
  },
  "web_1" : {
    address = "172.17.0.3"
    id      = "web_1"
    name    = "web"
    kind    = ""
    port    = 5000
    meta = {
      dnsimple_zone_name      = "vegan.pizza"
      dnsimple_record_name    = "web.dev"
      dnsimple_record_content = "127.0.0.1"
      dnsimple_record_type    = "A"
      dnsimple_record_ttl     = 60
    }
    tags            = ["tacos"]
    namespace       = null
    status          = "passing"
    node_id         = "node_a"
    node            = "foobar"
    node_address    = "192.168.10.10"
    node_datacenter = "dc1"
    node_tagged_addresses = {
      lan = "192.168.10.10"
      wan = "10.0.10.10"
    }
    node_meta = {
      somekey = "somevalue"
    }
  },
  "web_2" : {
    address = "172.17.0.3"
    id      = "web_2"
    name    = "web"
    kind    = ""
    port    = 5000
    meta = {
      dnsimple_zone_name      = "vegan.pizza"
      dnsimple_record_name    = "$name"
      dnsimple_record_type    = "SRV"
      dnsimple_record_content = "10 10 $port $address"
    }
    tags            = ["burrito"]
    namespace       = null
    status          = "passing"
    node_id         = "node_b"
    node            = "foobarbaz"
    node_address    = "192.168.10.11"
    node_datacenter = "dc1"
    node_tagged_addresses = {
      lan = "192.168.10.11"
      wan = "10.0.10.10"
    }
    node_meta = {}
  }
  "web_3" : {
    address = "172.17.0.3"
    id      = "web_2"
    name    = "web"
    kind    = ""
    port    = 5000
    meta = {
      dnsimple_default_zone         = "meatlover.pizza"
      dnsimple_zone_name            = "vegan.pizza"
      dnsimple_record_name          = "$name"
      dnsimple_record_type          = "SRV"
      dnsimple_record_content       = "10 10 $port $node_address"
      "dnsimple_record_name[1]"     = "$name.internal"
      "dnsimple_record_type[1]"     = "A"
      "dnsimple_record_content[1]"  = "$node_address"
      "dnsimple_record_name[2]"     = "$name.internal-secondary"
      "dnsimple_record_type[2]"     = "A"
      "dnsimple_record_content[2]"  = "$address"
      "dnsimple_record_name[10]"    = "mail"
      "dnsimple_record_type[10]"    = "MX"
      "dnsimple_record_content[10]" = "10 $address"
    }
    tags            = ["burrito"]
    namespace       = null
    status          = "passing"
    node_id         = "node_b"
    node            = "foobarbaz"
    node_address    = "192.168.10.11"
    node_datacenter = "dc1"
    node_tagged_addresses = {
      lan = "192.168.10.11"
      wan = "10.0.10.10"
    }
    node_meta = {}
  }
}
